<footer>
  {{ with .Site.Params.footer.fixedLinks }}
    <nav aria-label="Footer fixed links">
      <ul>
        {{- range . -}}
          <li><a href="{{ .url | safeURL }}">{{ .name }}</a></li>
        {{- end -}}
      </ul>
    </nav>
  {{ end }}
  {{ with .Site.Menus.footer.ByWeight }}
    <nav aria-label="Footer menu">
      <ul>
        {{- range . -}}
          {{- $isCurrent := and .Page (eq .Page.RelPermalink $.RelPermalink) -}}
          <li><a href="{{ .URL }}"{{ if $isCurrent }} aria-current="page"{{ end }}>{{ .Name }}</a></li>
        {{- end -}}
      </ul>
    </nav>
  {{ end }}
</footer>
